@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}

svg, img {
  object-fit: fill;
  -o-object-fit: fill;
  vertical-align: middle;
  object-position: center;
  -o-object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 90.441px;
}

h2 {
  font-size: 63.961px;
}

h3 {
  font-size: 45.234px;
}

h4 {
  font-size: 31.99px;
}

h5 {
  font-size: 22.624px;
}

h6 {
  font-size: 16px;
}

.hero {
  height: calc(100vh - 48px);
  border-radius: 0 0 24px 24px;
  background-color: #04001d;
  box-shadow: 0 3px 15px 8px rgba(0, 0, 0, 0.2);
}
.hero .hero-inner {
  height: 100%;
  width: 84.35%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero-inner .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 16px 0;
}
.hero .hero-inner .hero-intro {
  width: 100%;
  display: grid;
  height: calc((100vh - 48px) * 0.618);
  grid-template-columns: repeat(8, 1fr);
}

.header div {
  width: 50%;
}
.header .logo svg {
  width: 40px;
  height: 40px;
}
.header .hamburger {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .hamburger .menu {
  display: flex;
  cursor: pointer;
  width: 26px;
  height: 26px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease;
}
.header .hamburger span {
  height: 3px;
  width: 26px;
  margin: 2px 0;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  background-color: #fd7134;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header .hamburger span:last-child {
  margin-bottom: 0;
}

.hero-intro .backend-icons {
  text-align: center;
  grid-column: 1/3;
}
.hero-intro .intro {
  width: 100%;
  grid-column: 3/7;
  position: relative;
  z-index: 9;
}
.hero-intro .intro .heading {
  gap: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.hero-intro .intro .heading h1 {
  color: #fff;
}
.hero-intro .intro .heading svg {
  width: 64px;
  height: 64px;
}
.hero-intro .intro .content {
  line-height: 32px;
}
.hero-intro .intro .content p {
  color: #dfe4ec;
  font-size: 22.624px;
  font-weight: 600;
}
.hero-intro .intro .content .content-buttons {
  gap: 24px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: flex-start;
}
.hero-intro .intro .content .content-buttons span {
  width: 124px;
  font-weight: 500;
  font-size: 22.624px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.hero-intro .intro .content .content-buttons span > a {
  color: #fff;
  font-size: 22.624px;
  text-decoration: none;
}
.hero-intro .frontend-icons {
  text-align: center;
  grid-column: 7/9;
}
.hero-intro .icons .icon-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-intro .icon-container .tech-icons {
  width: 48px;
  height: 48px;
  padding: 4px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  transition: animation 5s ease-in-out;
}
.hero-intro .icon-container .tech-icons > img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.hamburger .menu.active {
  transform: translateX(-328px);
}

.hamburger .menu.active .top {
  transform: translateY(6px) rotateZ(-45deg);
}

.hamburger .menu.active .mid {
  width: 0;
}

.hamburger .menu.active .bot {
  transform: translateY(-8px) rotateZ(45deg);
}

.menuBox {
  height: 100%;
  width: 400px;
  position: fixed;
  right: -400px;
  top: 0;
  z-index: 99999;
  color: #04001d;
  background-color: #fd7134;
  box-shadow: 6px 0px 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menuBox > div {
  height: 100%;
  display: flex;
  padding: 48px 0px;
  align-items: center;
  color: #04001d;
  justify-content: space-between;
  flex-direction: column;
}
.menuBox ul li {
  color: #fff;
  padding: 4px 0;
  margin: 12px 0;
  list-style: none;
  text-align: center;
  font-size: 22.624px;
}
.menuBox .login-form {
  width: 100%;
  padding: 64px;
  padding-bottom: 0;
}
.menuBox .login-form > div {
  margin: 16px 0;
}
.menuBox .login-form input {
  width: 100%;
  height: 28px;
  border: none;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}
.menuBox .login-form input[type=submit] {
  margin: 0;
  height: auto;
  color: #fff;
  padding: 8px 0;
  background-color: #3fa9f5;
}

.menuBox.active {
  right: 0;
}

.content .content-buttons span {
  border: none;
  color: #fff;
  padding: 8px 48px;
  font-size: 22.634px;
  background-color: #fd7134;
}
.content .content-buttons .social {
  border: 1px solid #fd7134;
  background-color: transparent;
  color: #fd7134;
}

@keyframes danceAround25 {
  0% {
    transform: rotate(0deg) translate(-25%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-25%) rotate(-360deg);
  }
}
@keyframes danceAround50 {
  0% {
    transform: rotate(0deg) translate(-50%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-50%) rotate(-360deg);
  }
}
@keyframes danceAround75 {
  0% {
    transform: rotate(0deg) translate(-75%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-75%) rotate(-360deg);
  }
}

/*# sourceMappingURL=hero.css.map */
