@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}

* .container {
  width: 84.35%;
  margin: 0 auto;
}

svg, img {
  object-fit: fill;
  -o-object-fit: fill;
  vertical-align: middle;
  object-position: center;
  -o-object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 90.441px;
}

h2 {
  font-size: 63.961px;
}

h3 {
  font-size: 45.234px;
}

h4 {
  font-size: 31.99px;
}

h5 {
  font-size: 22.624px;
}

h6 {
  font-size: 16px;
}

.hero {
  color: #f7e4e4;
  border-radius: 0 0 16px 16px;
  background-color: #04001d;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}
.hero .hero-inner {
  width: 84.35%;
  margin: 0 auto;
}
.hero .hero-inner .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22.624px;
  padding: 16px 0;
}
.hero .hero-inner .hero-intro {
  width: 100%;
  display: grid;
  padding: 288px 0 192px 0;
  grid-template-columns: repeat(8, 1fr);
}

.header div {
  width: 50%;
}
.header .logo svg {
  width: 40px;
  height: 40px;
}
.header .hamburger {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .hamburger .menu {
  width: min-content;
  height: min-content;
}
.header .hamburger span {
  width: 24px;
  height: 3px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  background-color: #f7e4e4;
  transition: transform 5ms ease-in-out;
}
.header .hamburger span::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  background-color: #f7e4e4;
  top: -7px;
}
.header .hamburger span::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  background-color: #f7e4e4;
  bottom: -7px;
}

.hero-intro .backend-icons {
  text-align: center;
  grid-column: 1/3;
}
.hero-intro .intro {
  width: 100%;
  grid-column: 3/7;
  color: #fff;
}
.hero-intro .intro .heading {
  gap: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.hero-intro .intro .heading svg {
  width: 64px;
  height: 64px;
}
.hero-intro .intro .content {
  line-height: 32px;
}
.hero-intro .intro .content p {
  font-size: 22.624px;
  font-weight: 600;
}
.hero-intro .intro .content .content-buttons {
  gap: 24px;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}
.hero-intro .intro .content .content-buttons button {
  font-weight: 500;
  padding: 8px 18px;
  font-size: 22.624px;
  border-radius: 8px;
}
.hero-intro .frontend-icons {
  text-align: center;
  grid-column: 7/8;
}
.hero-intro .icons .icon-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-intro .icon-container .tech-icons {
  width: 64px;
  height: 64px;
  padding: 4px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
.hero-intro .icon-container .tech-icons > img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.content .content-buttons button {
  border: none;
  color: #04001d;
  background-color: #f7e4e4;
}
.content .content-buttons .social {
  border: 1px solid #f7e4e4;
  background-color: transparent;
  color: #f7e4e4;
}

/*# sourceMappingURL=hero.css.map */
