@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$primaryColor: #f7e4e4;
$tertiaryColor: #3fa9f5;
$secondaryColor: #04001d;
$primaryShadow: rgba($color: #000000, $alpha: 0.2);

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
}

* .container {
    width: 84.35%;
    margin: 0 auto;
}

svg, img{
    object-fit: fill;
    -o-object-fit: fill;
    vertical-align: middle;
    object-position: center;
    -o-object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 90.441px;
}

h2 {
    font-size: 63.961px;
}

h3 {
    font-size: 45.234px;
}

h4 {
    font-size: 31.99px;
}

h5 {
    font-size: 22.624px;
}

h6 {
    font-size: 16px;
}