@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

$base-primaryColor: #f7e4e4;
$base-secondaryColor: #04001d;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
    font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-color: $base-primaryColor;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

h1{
  font-size: 90.441px;
}

h2{
  font-size: 63.961px;
}

h3{
  font-size: 45.234px;
}

h4{
  font-size: 31.990px;
}

h5{
  font-size: 22.624px;
}

h6{
  font-size: 16px;
}