@import '_base';


html {font-size: 100%;} /*16px*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

svg,
img {
    object-fit: fill;
    -o-object-fit: fill;
    vertical-align: middle;
    object-position: center;
    -o-object-position: center;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 1.38rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}

#root{
    height: 100%;
}

.App {
    height: 100%;
    color: $secondaryColor;
    background-color: #fff;
}
