@import '_base';


.project {
    padding: 96px 0 144px 0;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body {
        width: 100%;
        // padding-top: 48px;

        .contents {
            width: 100%;
            overflow: hidden;
            position: relative;
        }
    }

}

.contents {
    .carousel{
        display: flex;
        flex-wrap: nowrap;
        transition: all 1.25s ease;
        gap: 16px;
    }
    .carousel-control{
        display: flex;
        padding: 0 8px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 9999;
        height: 72.5%;
        width: 100%;

        & > span{
            width: 56px;
            height: 56px;
            display: flex;
            padding: 0 24px;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 2px 10px 4px $primaryShadow;
            transition: opacity 0.5ms ease-in-out;
            border-radius: 50%;
            opacity: 0.6;

            & img {
                height: min-content;
                width: min-content;
            }

            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .project-item {
        position: relative;
        height: max-content;
        transition: all 1.25s ease;

        .project-img {
            width: 100%;
            height: auto;

            & img{
                width: 100%;
                max-height: 100%;
                aspect-ratio: 16/10;
            }
        }

        .project-stack{
            display: flex;
            align-items: center;
            padding-left: 8px;
            padding-bottom: 8px;
            

            & > div{
                width: 48px;
                height: 48px;
            }

            .stack-icons{
                padding: 8px;
                display: flex;
                margin-left: 12px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 2px 8px 2px $primaryShadow;
                
                & > img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}